<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="targetNames" value="Mouth,Vagina,Anus,Vagina_Anus_Avg,Breasts,Left Hand,Right Hand,Left Foot,Right Foot" />
    <add key="targetBoneNames" value="cf_J_MouthCavity,cf_J_Kokan,cf_J_Ana,cf_J_Kokan|cf_J_Ana,cf_J_Mune01_s_L|cf_J_Mune01_s_R,cf_J_Hand_L,cf_J_Hand_R,cf_J_Foot02_L,cf_J_Foot02_R" />
    <add key="targetPriorities" value="Left Hand|Mouth|Breasts|Vagina|Anus|Vagina_Anus_Avg,Right Hand|Mouth|Breasts|Vagina|Anus|Vagina_Anus_Avg" />
    <add key="targetPriorityRange" value="0.05,0.18" />
    <add key="targetRangeMin" value="0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05" />
    <add key="targetRangeMax" value="0.18,0.18,0.18,0.18,0.18,0.18,0.18,0.18,0.18" />
    <add key="targetPriorityAutoRangeTolerance" value="0.12" />
    <add key="targetDistanceRangeThreshold" value="0.015" />
    <add key="serialPortName" value="COM3" />
    <add key="serialPortBaudRate" value="115200" />
    <add key="autoRange" value="true" />
    <add key="autoRangeTime" value="2" />
    <add key="updateFrequency" value="50.0" />
    <add key="charaDiagnostics" value="true" />
    <add key="configDiagnostics" value="false" />
  </appSettings>
</configuration>